{{#each erros}}
<div class="alert alert-danger mt-4">{{text}}</div>

{{else}}

{{/each}}

<div class="card m-3">
    <div class="card-body">
        <form action="/admin/postagens/edit" method="POST">
            <div class="d-inline-flex p-2 bd-highlight">
                <h2 class="">Editar postagem: </h2>
            </div>

            <div class="form-row mt-4">
                <div class="col">
                    <input type="hidden" name="id" value="{{postagem._id}}">
                    <input type="text" name="nome" class="form-control" placeholder="Nome..."
                        value="{{postagem.nome}}">
                </div>
                <div class="col">
                    <input type="text" name="sobrenome" class="form-control" placeholder="Sobrenome..."
                        value="{{postagem.sobrenome}}">
                </div>
            </div>

           <div class="form-group">
                <label for="textArea" class="mt-4">Diga-me sua opinião: </label>
                <textarea class="form-control" name="feedback" rows="3"></textarea>
            </div>

            <label for="categoria">Cadastro: </label>
            <select name="categoria" class="custom-select">
                {{#each categorias}}
                <option value="{{_id}}">{{nome}} {{sobrenome}}</option>
                {{else}}
                <option value="0">Nenhum cadastro registrado</option>
                {{/each}}
            </select>

            <button type="submit" class="btn btn-success mt-3">Salvar Edicao</button>
        </form>
    </div>
</div>