<div class="jumbotron mt-4">
  <h1 class="display-4">Bem vindo ao site de cadastro de usuarios</h1>
  <p class="lead">Tecnologias utilizadas: Bootstrap, Express.JS, MongoDB, Node.JS.</p>
  <hr class="my-4">
  {{#if nUser}}
  <a class="btn btn-info btn-lg" href="/cadastro" role="button">Cadastre-se aqui!</a>
  {{else}}
  {{/if}}
</div>

<hr>
<h4>Postagens recentes</h4>
<hr>


{{#each postagens}}

<div class="card mt-4">
  <div class="card-body">
    <h4>Nome: {{nome}}</h4>
    <h4>Sobrenome: {{sobrenome}}</h4>
    <h5>Feedback: "{{feedback}}"</h5>
    <hr>
    <small>Data: {{data}}</small>
  </div>
</div>


{{else}}

<h5>Nenhum cadastro feito...</h5>

{{/each}}